.list li {
	list-style-type: none;
	float: left;
	width: 90px
}

.list li a:hover {
	background-color: #333;
	color: #fff;
}

.list li:hover {
	background-color: #333;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

/* 椤甸潰鎬荤殑 鏍峰紡 */
.main_div {
	width: 100%;
	height: 1500px;
}
.main_style{
	width:1000px;
	height:1500px;
	border:1px solid red;
	margin:0 auto;
}
/* 鍥剧墖logo澶栧眰div鏍峰紡 */
.image-style {
	width: 1000px;
	height: 85px;
	margin: 0 auto;
}

/* 鍥剧墖鏍峰紡 */
.inner_image {
	width: 1000px; /*--瀹藉害蹇呴』鐨�--*/
	text-align: left;
	height: 85px;
	margin: 0 20px;
}
/* 瀵艰埅鏍忔牱寮� */
.title-style {
	width: 1000px;
	height: 30px;
	margin: 0 auto;
}

/* 瀵艰埅鏍忓唴閮ㄦ牱寮� */
.inner_title {
	width: 1000px; /*--瀹藉害蹇呴』鐨�--*/
	text-align: center;
	height: 30px;
	margin: 0 10px;
}

/* 鏂囩珷鎬绘牱寮� */
.content-style {
	margin: 0 auto; /*--灞呬腑 --*/
	width: 1000px; /*--瀹藉害蹇呴』鐨�--*/
	text-align: left;
	height: 1500px;
}

/* 鎺ㄨ崘闃呰鏍峰紡 */
.suggestedreading {
	width: 700px; /*--瀹藉害蹇呴』鐨�--*/
	text-align: left;
	height: 360px;
}

/* 鏈�鏂版枃绔� */
.new_article {
	width: 350px; /*--瀹藉害蹇呴』鐨�--*/
	text-align: left;
	height: 360px;
	float: left;
}

/* java骞茶揣 */
.java {
	width: 350px; /*--瀹藉害蹇呴』鐨�--*/
	height: 360px;
	float: left;
	margin: 0 -40px;
}

/* 涓氱晫鍔ㄦ�� */
.industry_dynamics {
	width: 700px; /*--瀹藉害蹇呴』鐨�--*/
	text-align: left;
	height: 360px;
	float: left;
}

/* 鍩虹鎶�鏈� */
.base_tic {
	width: 700px; /*--瀹藉害蹇呴』鐨�--*/
	text-align: left;
	height: 360px;
	float: left;
}

/* 鏂囩珷鍐呭鍐呴儴鏍峰紡 */
.inner_content {
	width: 700px;
	text-align: left;
	height:1500px;
	margin: 0 40px;
	
}

/* 鍙充晶鏄剧ず鏍忔牱寮� */
.right-display {
	width: 300px;
	float: right;
	height: 1500px;
}

h5 {
	color: #0099cc;
}

hr {
	width: 650px;
}

.content-middle-style hr {
	width: 300px;
}