.list li{list-style-type:none;float:left;width:90px}


	
a:link {
 text-decoration: none;
}
a:visited {
 text-decoration: none;
}
a:hover {
 text-decoration: none;
}
a:active {
 text-decoration: none;
}

.image-style{
	position:absolute;top:50px;left:200px;width:960px;height:80px;
}

.title-style{
	position:absolute;top:130px;left:155px;width:960px;height:80px;
}